// ObjectWindows - (C) Copyright 1992 by Borland International

ICON_1p ICON "icon_1p.ico"
ICON_1 ICON "icon_1.ico"
ICON_2 ICON "icon_2.ico"
ICON_2p ICON "icon_2p.ico"
ICON_3 ICON "icon_3.ico"
ICON_3p ICON "icon_3p.ico"
ICON_4 ICON "icon_4.ico"
ICON_4p ICON "icon_4p.ico"
ICON_5 ICON "icon_5.ico"
ICON_5p ICON "icon_5p.ico"
ICON_6 ICON "icon_6.ico"
ICON_6p ICON "icon_6p.ico"
ICON_7 ICON "icon_7.ico"
ICON_7p ICON "icon_7p.ico"
ICON_8 ICON "icon_8.ico"
ICON_8p ICON "icon_8p.ico"
ICON_9 ICON "icon_9.ico"
ICON_9p ICON "icon_9p.ico"
ICON_0 ICON "icon_0.ico"
ICON_0p ICON "icon_0p.ico"


PUNKT ICON "punkt.ico"
PUNKTp ICON "punktp.ico"
PLUSMIN ICON "plusmin.ico"
PLUSMINp ICON "plusminp.ico"


CHANGE ICON "change.ico"
CHANGEp ICON "changep.ico"
ALARM ICON "alarm.ico"
ALARMp ICON "alarmp.ico"
HELP ICON "help.ico"
HELPp ICON "helpp.ico"
ENTER ICON "enter.ico"
ENTERp ICON "enterp.ico"

UP ICON "up.ico"
UPp ICON "upp.ico"
DOWN ICON "down.ico"
DOWNp ICON "downp.ico"
LEFT ICON "left.ico"
LEFTp ICON "leftp.ico"
RIGHT ICON "right.ico"
RIGHTp ICON "rightp.ico"

MENU_1 MENU 
BEGIN
	POPUP "Inkopplad till"
	BEGIN
		POPUP "Kv Pumpstocken", GRAYED
		BEGIN
			MENUITEM "Item", 101
		END

		POPUP "Kv Rännilen"
		BEGIN
			MENUITEM "Item", 101
		END

		POPUP "Kv Oxhuvudet"
		BEGIN
			MENUITEM "Duc 1", 101
			MENUITEM "LB65", 102
			MENUITEM "Duc 14", 103
		END

	END

	POPUP "Inställningar", GRAYED
	BEGIN
		MENUITEM "Item", 101
	END

	POPUP "&Hjälp", HELP
	BEGIN
		MENUITEM "&Index\tF1", 901
		MENUITEM "&Keyboard", 902
		MENUITEM "&Commands", 903
		MENUITEM "&Procedures", 904
		MENUITEM "&Using help", 905
		MENUITEM SEPARATOR
		MENUITEM "&About...", 999
	END

END

IVTlogo ICON "ivt.ico"

duc3208 ICON "duc3208.ico"

AAAA ICON "duc3208.ico"


UpArrow BITMAP 
BEGIN
	'42 4D AE 04 00 00 00 00 00 00 36 04 00 00 28 00'
	'00 00 0A 00 00 00 0A 00 00 00 01 00 08 00 00 00'
	'00 00 78 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 01 00 00 00 00 00 00 00 00 80 00 00 80'
	'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
	'00 00 C0 C0 C0 00 C0 DC C0 00 F0 CA A6 00 04 04'
	'04 00 84 84 84 00 44 44 44 00 C4 C4 C4 00 24 24'
	'24 00 A4 A4 A4 00 64 64 64 00 E4 E4 E4 00 14 14'
	'14 00 94 94 94 00 54 54 54 00 D4 D4 D4 00 34 34'
	'34 00 B4 B4 B4 00 74 74 74 00 F4 F4 F4 00 0C 0C'
	'0C 00 8C 8C 8C 00 4C 4C 4C 00 CC CC CC 00 2C 2C'
	'2C 00 AC AC AC 00 6C 6C 6C 00 EC EC EC 00 1C 1C'
	'1C 00 9C 9C 9C 00 5C 5C 5C 00 DC DC DC 00 3C 3C'
	'3C 00 BC BC BC 00 7C 7C 7C 00 FC FC FC 00 3F BF'
	'DF 00 3F BF FF 00 3F DF 3F 00 3F DF 5F 00 3F DF'
	'7F 00 3F DF 9F 00 3F DF BF 00 3F DF DF 00 3F DF'
	'FF 00 3F FF 3F 00 3F FF 5F 00 3F FF 7F 00 3F FF'
	'9F 00 3F FF BF 00 3F FF DF 00 3F FF FF 00 5F 3F'
	'3F 00 5F 3F 5F 00 5F 3F 7F 00 5F 3F 9F 00 5F 3F'
	'BF 00 5F 3F DF 00 5F 3F FF 00 5F 5F 3F 00 5F 5F'
	'5F 00 5F 5F 7F 00 5F 5F 9F 00 5F 5F BF 00 5F 5F'
	'DF 00 5F 5F FF 00 5F 7F 3F 00 5F 7F 5F 00 5F 7F'
	'7F 00 5F 7F 9F 00 5F 7F BF 00 5F 7F DF 00 5F 7F'
	'FF 00 5F 9F 3F 00 5F 9F 5F 00 5F 9F 7F 00 5F 9F'
	'9F 00 5F 9F BF 00 5F 9F DF 00 5F 9F FF 00 5F BF'
	'3F 00 5F BF 5F 00 5F BF 7F 00 5F BF 9F 00 5F BF'
	'BF 00 5F BF DF 00 5F BF FF 00 5F DF 3F 00 5F DF'
	'5F 00 5F DF 7F 00 5F DF 9F 00 5F DF BF 00 5F DF'
	'DF 00 5F DF FF 00 5F FF 3F 00 5F FF 5F 00 5F FF'
	'7F 00 5F FF 9F 00 5F FF BF 00 5F FF DF 00 5F FF'
	'FF 00 7F 3F 3F 00 7F 3F 5F 00 7F 3F 7F 00 7F 3F'
	'9F 00 7F 3F BF 00 7F 3F DF 00 7F 3F FF 00 7F 5F'
	'3F 00 7F 5F 5F 00 7F 5F 7F 00 7F 5F 9F 00 7F 5F'
	'BF 00 7F 5F DF 00 7F 5F FF 00 7F 7F 3F 00 7F 7F'
	'5F 00 7F 7F 7F 00 7F 7F 9F 00 7F 7F BF 00 7F 7F'
	'DF 00 7F 7F FF 00 7F 9F 3F 00 7F 9F 5F 00 7F 9F'
	'7F 00 7F 9F 9F 00 7F 9F BF 00 7F 9F DF 00 7F 9F'
	'FF 00 7F BF 3F 00 7F BF 5F 00 7F BF 7F 00 7F BF'
	'9F 00 7F BF BF 00 7F BF DF 00 7F BF FF 00 7F DF'
	'3F 00 7F DF 5F 00 7F DF 7F 00 7F DF 9F 00 7F DF'
	'BF 00 7F DF DF 00 7F DF FF 00 7F FF 3F 00 7F FF'
	'5F 00 7F FF 7F 00 7F FF 9F 00 7F FF BF 00 7F FF'
	'DF 00 7F FF FF 00 9F 3F 3F 00 9F 3F 5F 00 9F 3F'
	'7F 00 9F 3F 9F 00 9F 3F BF 00 9F 3F DF 00 9F 3F'
	'FF 00 9F 5F 3F 00 9F 5F 5F 00 9F 5F 7F 00 9F 5F'
	'9F 00 9F 5F BF 00 9F 5F DF 00 9F 5F FF 00 9F 7F'
	'3F 00 9F 7F 5F 00 9F 7F 7F 00 9F 7F 9F 00 9F 7F'
	'BF 00 9F 7F DF 00 9F 7F FF 00 9F 9F 3F 00 9F 9F'
	'5F 00 9F 9F 7F 00 9F 9F 9F 00 9F 9F BF 00 9F 9F'
	'DF 00 9F 9F FF 00 9F BF 3F 00 9F BF 5F 00 9F BF'
	'7F 00 9F BF 9F 00 9F BF BF 00 9F BF DF 00 9F BF'
	'FF 00 9F DF 3F 00 9F DF 5F 00 9F DF 7F 00 9F DF'
	'9F 00 9F DF BF 00 9F DF DF 00 9F DF FF 00 9F FF'
	'3F 00 9F FF 5F 00 9F FF 7F 00 9F FF 9F 00 9F FF'
	'BF 00 9F FF DF 00 9F FF FF 00 BF 3F 3F 00 BF 3F'
	'5F 00 BF 3F 7F 00 BF 3F 9F 00 BF 3F BF 00 BF 3F'
	'DF 00 BF 3F FF 00 BF 5F 3F 00 BF 5F 5F 00 BF 5F'
	'7F 00 BF 5F 9F 00 BF 5F BF 00 BF 5F DF 00 BF 5F'
	'FF 00 BF 7F 3F 00 BF 7F 5F 00 BF 7F 7F 00 BF 7F'
	'9F 00 BF 7F BF 00 BF 7F DF 00 BF 7F FF 00 BF 9F'
	'3F 00 BF 9F 5F 00 BF 9F 7F 00 BF 9F 9F 00 BF 9F'
	'BF 00 BF 9F DF 00 BF 9F FF 00 BF BF 3F 00 BF BF'
	'5F 00 BF BF 7F 00 BF BF 9F 00 BF BF BF 00 BF BF'
	'DF 00 BF BF FF 00 BF DF 3F 00 BF DF 5F 00 BF DF'
	'7F 00 BF DF 9F 00 BF DF BF 00 BF DF DF 00 F0 FB'
	'FF 00 A4 A0 A0 00 80 80 80 00 00 00 FF 00 00 FF'
	'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
	'00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
	'00 00 FF FF FF FF 00 FF FF FF FF FF 00 00 FF FF'
	'FF FF 00 FF FF FF FF FF 00 00 FF FF FF FF 00 FF'
	'FF FF FF FF 00 00 FF FF FF FF 00 FF FF FF FF FF'
	'00 00 FF FF 00 FF 00 FF 00 FF FF FF 00 00 FF FF'
	'00 00 00 00 00 FF FF FF 00 00 FF FF FF 00 00 00'
	'FF FF FF FF 00 00 FF FF FF FF 00 FF FF FF FF FF'
	'00 00 FF FF FF FF FF FF FF FF FF FF 00 00'
END

